@use '@/styles/base' as *;

.title {
  @include text-heading-1;

  &::first-letter {
    text-transform: uppercase;
  }
}

.description {
  margin-bottom: px-to-rem(20);

  font-size: px-to-rem(14);
  font-weight: 400;
  line-height: 180%;

  &::first-letter {
    text-transform: uppercase;
  }
}
