@use '@/styles/base' as *;

.container {
  &.info {
    color: var(--color-white);

    background-image: linear-gradient(
      180deg,
      var(--color-linear-1) 0%,
      var(--color-linear-2) calc(44%),
      var(--color-linear-3) calc(80%),
      var(--color-linear-4) calc(97%)
    );
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  padding: px-to-rem(15) var(--wrap);

  //.header__back
  &__back {
    position: absolute;
    top: 50%;
    left: var(--wrap);
    z-index: 0;

    transform: translate(0, -50%);
  }

  //.header__image
  &__image {
    margin: auto;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(20);
}

.title {
  @include text-heading-1;
}

.description {
  margin-bottom: px-to-rem(20);

  font-size: px-to-rem(14);
  font-weight: 400;
  line-height: 180%;
}
